#**`Python Object Oriented Programming`**
Pyton OOP atau Python PBO adalah paradigma yang menjadikan semua komponen program sebagai objek. Yang mana setiap objek memiliki identitas dan tugasnya masing-masing

## **Class**
- Function jika berada pada konsep OOP akan berganti nama menjadi Method
- Class merupakan blueprint untuk membuat sebuah object

In [ ]:
# Membuat class
class person:
  nama = "Sardiwan"
  umur = 22

In [ ]:
print(type(person))

<class 'type'>

In [ ]:
# Membuat object dari class
obj = person()

In [ ]:
# Memanggil salah satu nilai dari class
print(obj.nama)
print(obj.umur)

Sardiwan
22

## **Fungsi __init__()**
- Fungsi __init__() akan otomatis dipanggil ketika kita membuat sebuah object
- Dengan fungsi ini, kita dapat mendeklarasikan property yang dimiliki oleh sebuah class

In [ ]:
# Membuat class dengan fungsi __init__()
class Person:
  def __init__(self, nama, umur): # self adalah parameter bawaan, dan sisanya adalah variabel lokal
    self.nama = nama # Mendeklarasikan bahwa nama pada variabel lokal sama dengan variabel Global
    self.umur = umur

  def halo(self):
    print("Halo, nama saya " + self.nama + ", umur saya " + str(self.umur) + " tahun.")

In [ ]:
orang_pertama = Person("Sardiwan", 22) # Harus mengisi kedua parameter dengan urutan yang benar

In [ ]:
# Memanggil nilai pada orang_pertama
print(orang_pertama.nama)
print(orang_pertama.umur)

Sardiwan
22

In [ ]:
orang_kedua = Person("Simamora", 22) # Harus mengisi kedua parameter dengan urutan yang benar

In [ ]:
# Memanggil nilai pada object orang_kedua
print(orang_kedua.nama)
print(orang_kedua.umur)

Simamora
22

In [ ]:
# Memanggil seluruh nilai yang ada
print(orang_pertama.__dict__) # Memanggil semua nilai pada object orang_pertama dan memuatnya kedalam dictionary
print(orang_kedua.__dict__) # Memanggil semua nilai pada object orang_kedua dan memuatnya kedalam dictionary

{'nama': 'Sardiwan', 'umur': 22}
{'nama': 'Simamora', 'umur': 22}

In [ ]:
# Memanggil object dengan function
orang_pertama.halo()

Halo, nama saya Sardiwan, umur saya 22 tahun.

In [ ]:
orang_kedua.halo()

Halo, nama saya Simamora, umur saya 22 tahun.